header {
  text-align: center;
  text-shadow: 0 0 3px blue, 0 0 5px blue;
  font-size: 80px;
}

.logo {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 180px;
  background: url("404.jpg") no-repeat;
}

main {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-shadow: -1px 1px 0 white, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

body {
  background-color: darkgrey;
  flex-flow: column;
}
